*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.new-note-div{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-note-div .new-note{
    height: 90%;
    width: 100%;

}

.new-note .new-note-date{
    height: 8vh;
    width: 100%;
    padding: 10px;
    justify-content: start;
    align-items: center;
}

.new-note .new-note-date >p{
    height: 100%;
    margin: 0;
    background-color: rgba(255, 215, 0,0.2);
}

.new-note .new-note-heading{
    height: 8vh;
    padding: 10px;
    width: 100%;
}

.new-note .new-note-body{
    height: 58vh;
    width: 100%;
    padding: 10px;
}

.new-note-div input{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 215, 0,0.2);
}

.new-note-div textarea{
    height: 100%;
    width: 100%;
    resize: none;
    background-color: rgba(255, 215, 0,0.2);
}

.new-note-div button{
    height: 100%;
    width: 30%;
    background-color: #FFD700;
}

.new-note .footer-div{
    margin: 0;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}