.notes{
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    padding-top: 10px;
    /* padding-left: 45px; */
    
}

.notes-div{
    /* height: 100%; */
    padding: 7px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 45px;
}