.main-div{
    background-color: #FFD700;
    height : 100vh;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-panel-div .form-div{
    height: 70%;
    width : 100%;
}

.header-div{
    height: 30%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.signup-panel-div .input-form-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

.main-div .signup-panel-div{
    height: 90%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(263,263,263,0.7);
}

.main-div .signup-input{
    width: 90%;
    padding : 7px;
    height: 13%;
    margin: 10px 0px;
    border-radius: 7px;
    border: none;
    font-size: 1.1em;
}

.footer-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding: 8px;
    font-size: 0.8em;
    height: 15%;
    width: 80%;
}

.signup-btn{
    height: 10%;
    width: 40%;
    border-radius: 7px;
    margin: 10px 0px;
    font-size: 1.1em;
    background-color: #3BB9FF;
}

.hover:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}

.mt-5{
    margin-top: 5px;
}
