.opened-note-div{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: linear-gradient(135deg, #92e1ff , #8878ff );
}

.open-note{
    min-height: 90vh;
    margin : 0;
    padding : 10px;
}

.open-note >div{
    width: 100%;
}

.open-note .date{
    height: 8vh;
    width: 100%;
    padding: 10px;
    justify-content: start;
    align-items: center;
    
}

.open-note .heading{
    padding: 10px;
    width: 100%;
    text-wrap: wrap;
    overflow-wrap: break-word;
}

.open-note .body{
    width: 100%;
    padding: 10px;
}

.open-note .footer-div{
    margin: 0;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.open-note button{
    height: 100%;
    width: 30%;    
    background-color: #5563c1;
    box-shadow: 5px 5px 10px #3d488e;
    border: none !important;
}

.open-note pre{
    font-size: 1rem;
    text-wrap: wrap;
    background-color: rgba(255, 215, 0,0.2);
    min-height: 50vh;
    box-shadow: 5px 5px 10px #5563c1;
}


.open-note h6{
    background-color: rgba(255, 215, 0,0.2);
    box-shadow: 5px 5px 10px #5563c1;
}

.open-note h1{
    background-color: rgba(255, 215, 0,0.2);
    box-shadow: 5px 5px 10px #5563c1;
}

button :hover{
    background-color: white;
    color: black;
  }

  .footer{
    width: 100vw;
  }