*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn-div{
    position: fixed;
    right : 4vh;
    bottom: 4vh;
    height: 7vh;
    width: 7vh;
    margin: 0%;
    padding: 0;
}

.new-btn {
    height: 100%;
    width: 100%;
    background-color: #FFD700;
    border-radius:10px ;
    
}

.full-size{
    height: 100%;
    width: 100%;
    font-size: 3em;
}