.card {
    width: calc(31%);
}

.note-card{
    height: 31vh !important; 
} 

.card-date{
    background-color: #FFD700 !important;
}

@media screen and (max-width: 1335px) {
    .note-card{
        width: 45%;
    }

    
}

@media screen and (max-width: 768px) {
    .note-card{
        width: 100%;
    }
}

